$lg: 1200px;
$md: 992px 1199px;
$md-less: max-width 1199px;
$sm-up: 800px;
$sm: 801px 991px;
$sm-less: max-width 991px;
$xs-only: 480px 800px;
$xs: max-width 800px;
$xxs: max-width 445px;
$xxs-iphone: max-width 320px;