footer.footer 
  .container 
    .footerContacts
      li.footerContactsItem
        a.footerContactsItem__refer(href='mailto:renome@intrenalmail.ru')
          i.footerContacts__icon.fa.fa-envelope.fa-1x
           span shiningfinger@list.ru
      li.footerContactsItem
        a.not-follow.footerContactsItem__refer(href='skype:shiningfinger?chat')
          i.footerContacts__icon.fa.fa-envelope.fa-1x
          span shiningfinger
    p.copyright &copy;&nbsp;Filipp Zhuravlev &mdash; my template for quickly starting new project