$baseColorFont: '#000';
$baseLinkColor: '#000';
$baseHoverLinkColor: '#000';
$baseVisitedLinkColor: '#000';
$baseActiveLinkColor: '#000';
$baseFocusLinkColor: '#000';
$baseColor: '#000';
$blue: #5e64ff;
$yellow: #ffe276;
$red: #bf4b49;
$nightBlack: #3f3c39;
$shadow: rgba(0, 0, 0, .6);
$black:  #464646;
$green: #468b4b;
$darkBlue: #49628b;
$yellow: #fedd00;
$whiteYellow: #fff8c9;
$orange: #f1a81c;
$whiteOrange: #fad17a;
$limon: #f5ff9a;
$purple: #5f4575;
$nightBlack: #3f3c39;
$lightRed: #7e2843;
$brown: #66320a;
$lightBrown: #af6f00;
$shadow: rgba(0, 0, 0, .6);
$lightGray: #c7c2c6;
$gray: #878787;
$darkGray:  #2c2c2c;
$white: #fefeff;